@font-face {
    font-family: 'Harbour';
    src: url('../../webfonts/Harbour-Bold.woff2') format('woff2'),
        url('../../webfonts/Harbour-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
    src: url('../../webfonts/Harbour-Medium.woff2') format('woff2'),
        url('../../webfonts/Harbour-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
    src: url('../../webfonts/Harbour-Light.woff2') format('woff2'),
        url('../../webfonts/Harbour-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

