/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

  $primary: #636b6f;
  $background: #f5f8fa;



// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

  $saltydog: #234058;
  $blue: #7498BE;
  $light-blue: #ccdbe5;
  $gray: #606b75;
