/**
 * Spacing
 * =================================
 * - Both
 * - Padding
 * - Margin
 * - Inanely specific tweaks
 *
 *
 *
 * - This shouldn't be a dump of random edits, but a collection of specific and intentional spacing classes.
 */


// Both Styling
.no-spacing {
  margin: 0;
  padding: 0;
}

.all-spacing {
  margin: 10px;
  padding: 10px;
}



//padding
.no-padding {
  padding: 0;
}

.padding-top {
  padding-top: 30px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.add-padding {
  padding: 20px;
}

.lr-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}

.no-top-padding {
  padding-top: 0px;
}

.no-bot-padding {
  padding-bottom: 0px;
}



//margin
.no-margin {
  margin: 0;
}

.add-margin {
  margin: 20px;
}

.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.lr-margin {
  margin-left: 30px;
  margin-right: 30px;
}

.massive-margin-bot {
  margin-bottom: 170px;
}

// Inanely specific tweaks
// these are fixing the spacing on the icons on the homepage since they aren't all the same width
.ico-padding-1 {
  padding-left: 5px;
}