/**
 * Utility Classes
 * =================================
 * - Color Changes
 * - Opacity
 * - Rounded Corners
 * - Box Shadow
 *
 *
 *
 */


//*********************************************
//*************** Color Inverts ***************
//*********************************************

//Most of these are just classes that flip specific colors.
.dark-color-invert {
  color: white;
}

.light-color-invert {
  color: $primary;
}


//*********************************************
//***************** Opacity *******************
//*********************************************
.opacity-medium {
  opacity: .8;
}



//*********************************************
//************* Rounded Corners ***************
//*********************************************
.rounded {
  border-radius: 8px;
}

.rounded-corners {
  border-radius: 8px;
}

.rounded-corners-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}



//*********************************************
//*************** Box Shadow ******************
//*********************************************
.box-shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.no-box-shadow {
  box-shadow: none;
}

