/**
 * Buttons
 * =================================
 * - General Button Styles
 * - Button Style 1
 * - Button Style 2
 *
 *
 *
 *
 */

//*********************************************
//*********** BASIC BUTTON STYLE **************
//*********************************************
.button{
  align-self: center;
  padding: 20px 30px 18px 30px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: rgb(116, 152, 190);
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button:hover{
  background: $blue;
}

.button:active{
  transform: scale(1.025);
}

@media screen and (min-width: 40em) {
  .button {
    padding: 20px 70px 18px 70px;
  }
}



.button-sd{
  color: white;
  background: #234058;
}

.button-sd:hover {
  background: $saltydog;
}



