/**
 * Event Card
 * =================================
 * - Events Page Cards
 *
 *
 *
 *
 *
 */

.event-card {
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 20px;
  margin: 20px 0px;
  position: relative;
  text-align: center;

  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  h2 {
    padding: 10px 10px 0 10px;
    text-align: left;
    margin-top: 30px;

  }

}

.location {
  padding: 0px 10px 20px 10px;
  text-align: left;

  p {
    padding: 0;
    margin: 0;
  }
}


.event-card-upper {
  position: relative;
}

.event-times {
  text-align: center;
  background-color: $saltydog;
  padding: 12px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 48px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-top: -26px;
}

.date {
  position: absolute;
  left: 10px;
}

.time {
  position: absolute;
  right: 10px;
}

.date:after {
  content: "";
  background-color: white;
  position: absolute;
  width: 5px;
  height: 48px;
  top: -11px;
  left: 170px;
  display: block;
}

.registration-links {
  width: 100%;

  a {
    color: white;
  }
}

.btn-group button {
  background-color: $saltydog;
  color: white;
  padding: 20px 24px;
  cursor: pointer;
  float: left;
  width: 50%;
  border-radius: 0;
  border-bottom-right-radius: 20px;
}

.btn-group .blue-button {
  background-color: $blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: $light-blue;
}






